mat-card {
    margin-bottom: 1.2em;
}

.image-container img {
    height: auto;
    margin: 0 auto;
    display: block;
}

.list ul {
    width: 50%;
}

.list {
    display: flex;
}

.dos {
    text-align: center;
}

.container {
    margin: 5em;
}

.main-title {
    text-align: center;
    text-decoration: underline;
}